body {
    background-color:#262B2C;
    color: white;
}

h1 {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Source Sans 3', serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

.headshot {
    height: 250px;
    width: 354px;
}

footer {
    font-family: 'Playfair Display', serif;
    font-size: 0.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    flex: 1
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
